# Ignore node_modules directory
node_modules
/budget-buddy-frontend/node_modules
/budget-buddy-backend/node_modules

# Ignore frontend's build output
/budget-buddy-frontend/dist

# Ignore IDE/Editor specific files
.idea/
.vscode/

# Ignore backend .env file
/budget-buddy-backend/.env
/budget-buddy-frontend/.env
